<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt-br">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--<link rel="icon" href="../../../../favicon.ico">-->

<title>USJT | Files Upload</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<!-- Custom styles for this template -->
<link href="floating-labels.css" rel="stylesheet">
</head>
<body class="text-center">
	<nav class="navbar navbar-expand-lg  navbar navbar-dark bg-dark">
	<a class="navbar-brand" href="#">USJT | Files Upload</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav ">
			<a class="nav-item nav-link active" href="Opcoes.jsp">Voltar</a> <a
				class="nav-item nav-link active" href="Login.jsp">Sair</a>



		</div>
	</div>
	</nav>


	<div>
		<h4>Imagens</h4>
		<div class="col-md-2 text-center">

			<form method="POST" action="/uploads/upload"
				enctype="multipart/form-data">

				<label class="btn btn-default" style="margin: 15px 0 15px 0">
					Upload | Selecione arquivo<input type="file" hidden name="file"
					multiple="">
				</label> <br /> <input type="submit" value="Enviar"
					class="btn btn-secondary" />

			</form>

		</div>
		<div
			style="border-style: solid; margin: 50px 80px 50px; padding: 5px;">
			<!-- 
			<img src="imagens/penguin.png" style="width: 200px;" w-auto
				p-3" class="rounded float-left" alt="responsive image"> <img
				src="imagens/penguin.png" style="width: 200px;" w-auto
				p-3" class="rounded float-center" alt="alternate text"> <img
				src="imagens/penguin.png" style="width: 200px;" w-auto
				p-3" class="rounded float-right" alt="alternate text"> -->
		</div>
		<table class="table">

			<thead class="thead-dark">
				<tr>
					<th scope="col"></th>
					<th scope="col">#</th>
					<th scope="col">Nome</th>
					<th scope="col">Autor</th>
					<th scope="col">Data Registro</th>
				</tr>
			</thead>



			<tbody>

				<tr th:each="figura : ${figuras}">

					<td class="align-middle">

						<div class="card" style="width: 12rem; margin: 12px 0 20px 0">
							<a th:href="@{${'http://localhost:3000/' + figura.url }}"
								target="_blank" style=""><img class="card-img-top"
								th:src="@{${'http://localhost:3000/' + figura.url }}"
								alt="Card image cap"></a>

						</div>


					</td>

					<td th:text="${figura.id}" class="align-middle"></td>

					<td th:text="${figura.nome}" class="align-middle"></td>

					<td th:text="${figura.autor}" class="align-middle"></td>


					<td
						th:text="${#temporals.format(figura.dataRegistro, 'dd/MM/yyyy HH:mm')}"
						class="align-middle"></td>



				</tr>
			</tbody>

		</table>

		<div th:if="${#lists.isEmpty(figuras)}">
			<p style="margin-top: 40px; text-align: center">Lista vazia</p>
		</div>

	</div>
	<br>
	<br>

	<h4>Videos</h4>
	<form method="POST" action="/uploads/upload"
		enctype="multipart/form-data">

		<label class="btn btn-default" style="margin: 15px 0 15px 0">
			Upload | Selecione arquivo<input type="file" hidden name="file"
			multiple="">
		</label> <br /> <input type="submit" value="Enviar" class="btn btn-secondary" />

	</form>
	<div style="border-style: solid; margin: 50px 80px 50px; padding: 5px;">

	<!-- 	<img src="imagens/penguin.gif" style="width: 200px;" w-auto
			p-3" class="rounded float-left" alt="Responsive image"> <img
			src="imagens/penguin.gif" style="width: 200px;" w-auto
			p-3" class="rounded float-right" alt="Responsive image"> <img
			src="imagens/penguin.gif" style="width: 200px;" w-auto
			p-3" class="rounded float-center" alt="Responsive image">
	</div> -->

	<br>
	<br>
	<tbody>

		<tr th:each="video : ${videos}">

			<td class="align-middle"><video width="100%" controls> <source
					th:src="@{${'http://localhost:3000/' + video.url }}"
					type="video/mp4"> Your browser does not support HTML5
				video. </video></td>

			<td th:text="${video.id}" class="align-middle"></td>

			<td th:text="${video.nome}" class="align-middle"></td>

			<td th:text="${video.producao}" class="align-middle"></td>


			<td
				th:text="${#temporals.format(video.dataRegistro, 'dd/MM/yyyy HH:mm')}"
				class="align-middle"></td>



		</tr>
	</tbody>
	<h4>Textos</h4>
	
	<table class="table">

		<thead class="thead-dark">
			<tr>
				<th scope="col"></th>
				<th scope="col">#</th>
				<th scope="col">Nome</th>
				<th scope="col">Autor</th>
				<th scope="col">Data Registro</th>
				<th scope="col">Direito de uso</th>
				<th scope="col">Resumo</th>

			</tr>
		</thead>



		<tbody>

			<tr th:each="texto : ${textos}">

				<td><a th:href="@{${'http://localhost:3000/' + texto.url }}"
					target="_blank"><img th:src="@{/pdf.png}" style="width: 60px" /></a>




				</td>

				<td th:text="${texto.id}" class="align-middle"></td>

				<td th:text="${texto.nome}" class="align-middle"></td>

				<td th:text="${texto.autor}" class="align-middle"></td>


				<td
					th:text="${#temporals.format(texto.dataRegistro, 'dd/MM/yyyy HH:mm')}"
					class="align-middle"></td>

				<td th:text="${texto.direitoDeUso}" class="align-middle"></td>

				<td th:text="${texto.resumo}" class="align-middle"></td>

			</tr>
		</tbody>

	</table>

	<div th:if="${#lists.isEmpty(textos)}">
		<p style="margin-top: 40px; text-align: center">Lista vazia</p>
	</div>


	</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>