<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt-br">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>USJT | Files Upload</title>
      
    <!-- Bootstrap core CSS -->
    <link href="css/estilo.css" href="css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="floating-labels.css" rel="stylesheet">
  </head>
    <body class="text-center">
        <nav class="navbar navbar-expand-lg  navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">USJT | Files Upload</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav " >
           
                    <a class="nav-item nav-link active" href="Opcoes.jsp">Voltar</a>
                    <a class="nav-item nav-link active" href="Login.jsp">Sair</a>
                    
                </div>
            </div>  
        </nav>
        <br><br>
        <button class="btn btn-primary btn-lg" type="submit" value="acessar">Escolher Arquivo</button>
        <br><br>
         <div style="border-style: solid;margin:50px 80px 50px;padding:5px;">
         
         <h4  >Selecione as Tags</h4>
     
        <table  class="table table-dark">
  
  <thead>
    <tr>
      <th scope="col">Software</th>
      <th scope="col">Statistics</th>
      <th scope="col">Teaching</th>
      <th scope="col">Technology</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Tips</th>
      <th scope="col">Tools</td>
      <th scope="col">Travel</td>
      <th scope="col">Tutorial</td>
    </tr>
    <tr>
      <th scope="row">TV</th>
      <th scope="col">Typography</td>
      <th scope="col">Ubuntu</td>
      <th scope="col">Video</td>
    </tr>
    <tr>
      <th scope="row">Imagens</th>
      <th scope="col">Web</td>
      <th scope="col">Web 2.0</td>
      <th scope="col">tutorials</td>
    </tr>
  </tbody>
</table>

   <div class="d-flex justify-content-start">
         <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Escolha suas Tags</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Digite suas Tags" aria-label="Pesquisar">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Escolher</button>
  </form>
</nav>
         </div>

         </div>
         
 
         
         <br><br><br>
         <div style="border-style: solid;margin:50px 80px 50px;padding:5px;">
         <h4>Categorias</h4>
         	<div>
         		<div class="form-check form-check-inline">
 					 <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="opcao1">
 					 <label class="form-check-label" for="inlineCheckbox1">Economia</label>
				</div>
				<div class="form-check form-check-inline">
  					<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="opcao2">
  					<label class="form-check-label" for="inlineCheckbox2">Esporte</label>
				</div>
         		<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="opcao3">
  <label class="form-check-label" for="inlineCheckbox1">Filosofia</label>
				</div>
				<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="opcao4">
  <label class="form-check-label" for="inlineCheckbox2">Programacao</label>
				</div>
         		</div>
        
        	 <div>
         		<div class="form-check form-check-inline">
  					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="opcao5">
  					<label class="form-check-label" for="inlineCheckbox1">Mundo</label>
				</div>
				<div class="form-check form-check-inline">
  					<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="opcao6">
 					 <label class="form-check-label" for="inlineCheckbox2">Cotidiano</label>
				</div>
         		<div class="form-check form-check-inline">
  					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="opcao7">
  					<label class="form-check-label" for="inlineCheckbox1">Geral</label>
				</div>
				<div class="form-check form-check-inline">
 				 	<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="opcao8">
  					<label class="form-check-label" for="inlineCheckbox2">Brasil</label>
				</div>
        	 </div>
        </div>
        
        <br><br><br>
        <div style="border-style: solid;margin:50px 80px 50px;padding:5px;">
        <h4>Tipo de Acesso</h4>
         
         <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
  <label class="form-check-label" for="inlineRadio1">Material Livre para o publico</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
  <label class="form-check-label" for="inlineRadio2">Material Livre Mediante Cadastro</label>
</div>
         
        </div>
        
        <br><br><br>
        <div>
        <button class="btn btn-primary btn-lg" type="submit" value="acessar">Enviar</button>
        </div>
  
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>