<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--<link rel="icon" href="../../../../favicon.ico">-->

<title>USJT | Files Upload</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<!-- Custom styles for this template -->
<link href="floating-labels.css" rel="stylesheet">
</head>
<body class="text-center">
	<nav class="navbar navbar-expand-lg  navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#">USJT | Files Upload</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ">

				<a class="nav-item nav-link active" href="/opcoes">Voltar</a> <a
					class="nav-item nav-link active" href="/logout">Sair</a>

			</div>
		</div>
	</nav>
	<br>
	<br>
	<br>
	<div class="container-fluid">
		<div
			style="border-style: solid; margin: 50px 80px 50px; padding: 5px;">
			<div class="row">

				<div class="col-md-10">


					<h2 style="margin: 20px 0 30px 0">Lista de Textos</h2>

					<!-- <img th:src="@{${'http://localhost:3000/' + material.url }}" class="img-fluid" alt="Imagem"> -->


					<table class="table">

						<thead class="thead-dark">
							<tr>
								<th scope="col"></th>
								<th scope="col">#</th>
								<th scope="col">Nome</th>
								<th scope="col">Autor</th>
								<th scope="col">Data Registro</th>
								<th scope="col">Direito de uso</th>
								<th scope="col">Resumo</th>

							</tr>
						</thead>



						<tbody>

							<tr th:each="texto : ${textos}">

								<td><a
									th:href="@{${'http://localhost:3000/' + texto.url }}"
									target="_blank"><img th:src="@{/pdf.png}"
										style="width: 60px" /></a></td>

								<td th:text="${texto.id}" class="align-middle"></td>

								<td th:text="${texto.nome}" class="align-middle"></td>

								<td th:text="${texto.autor}" class="align-middle"></td>


								<td
									th:text="${#temporals.format(texto.dataRegistro, 'dd/MM/yyyy HH:mm')}"
									class="align-middle"></td>

								<td th:text="${texto.direitoDeUso}" class="align-middle"></td>

								<td th:text="${texto.resumo}" class="align-middle"></td>

							</tr>
						</tbody>

					</table>

					<div th:if="${#lists.isEmpty(textos)}">
						<p style="margin-top: 40px; text-align: center">Lista vazia</p>
					</div>

					<div class="col-md-2 text-center">

						<form method="POST" action="upload/texto"
							enctype="multipart/form-data">

							<label class="btn btn-default" style="margin: 15px 0 15px 0">
								Upload | Selecione arquivo<input type="file" hidden name="file"
								multiple="">
							</label> <br /> <input type="submit" value="Enviar"
								class="btn btn-secondary" />

						</form>

					</div>
				</div>

			</div>

		</div>
	</div>
	<br>

	<br>
	<br>
	<br>

	<div style="border-style: solid; margin: 50px 80px 50px; padding: 5px;">

		<div class="container-fluid">

			<div class="row">

				<div class="col-md-8">

					<table class="table">

						<h4>Tags</h4>

						<tbody>
							<tr th:each="tag : ${tags}">
								<td th:text="${tag.id}"></td>
								<td th:text="${tag.tagNome}"></td>

								<td
									th:text="${#temporals.format(tag.dataRegistro, 'dd/MM/yyyy HH:mm')}"></td>
								<td>

									<form class="form-inline" method="post"
										th:action="@{/tag/atualizar}">

										<div class="form-group">

											<input type="text" id="id" name="id" th:value="${tag.id}" />
											<input type="text" id="nome" name="nome" class="form-control"
												placeholder="Nome" th:value="${tag.tagNome}" />

											<button type="submit" class="btn btn-primary">Salvar</button>
										</div>

									</form>

								</td>

							</tr>
						</tbody>

					</table>
					<div class="col-md-4">

						<form class="form-inline" method="post" style="margin: 20px 0"
							th:object="${tag}" th:action="@{upload/tag}">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Nome" 
								th:field="*{TagNome}"/>

								<button type="submit" class="btn btn-primary">Adicionar</button>
							</div>
						</form>

					</div>
				</div>

			</div>

		</div>
	</div>




	<br>
	<br>
	<br>
	<div style="border-style: solid; margin: 50px 80px 50px; padding: 5px;">

		<div class="container-fluid">

			<div class="row">

				<div class="col-md-8">

					<table class="table">

						<h4>Categorias</h4>

						<tbody>
							<tr th:each="categoria : ${categorias}">
								<td th:text="${categoria.id}"></td>
								<td th:text="${categoria.nome}"></td>

								<td
									th:text="${#temporals.format(categoria.dataRegistro, 'dd/MM/yyyy HH:mm')}"></td>

								<td>

									<form class="form-inline" method="post"
										th:action="@{upload/categoria/atualizar}">

										<div class="form-group">

											<input type="text" id="id" name="id"
												th:value="${categoria.id}" /> <input type="text" id="nome"
												name="nome" class="form-control" placeholder="Nome"
												th:value="${categoria.nome}" />

											<button type="submit" class="btn btn-primary">Salvar</button>

										</div>
									</form>
								</td>
							</tr>
						</tbody>

					</table>
					<div class="col-md-4">

						<form class="form-inline" method="post" style="margin: 20px 0"
							th:object="${categoria}" th:action="@{upload/categoria}">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Nome"
									th:field="*{nome}" />

								<button type="submit" class="btn btn-primary">Adicionar</button>
							</div>
						</form>


						<!-- <form class="form-inline" method="post" style="margin: 20px 0"
							th:object="${categoria}" th:action="@{/upload/categoria}">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Nome"
									th:field="*{nome}" />

								<button type="submit" class="btn btn-primary">Adicionar</button>
							</div>
						</form>
						 -->
					</div>
				</div>

			</div>

		</div>
	</div>

	<br>
	<br>
	<br>
	<div style="border-style: solid; margin: 50px 80px 50px; padding: 5px;">
		<h4>Tipo de Acesso</h4>

		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio"
				name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
			<label class="form-check-label" for="inlineRadio1">Material
				Livre para o publico</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio"
				name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
			<label class="form-check-label" for="inlineRadio2">Material
				Livre Mediante Cadastro</label>
		</div>

	</div>
	<br>
	<br>
	<br>
	<div>
		<button class="btn btn-primary btn-lg" type="submit" value="acessar">Enviar</button>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>